* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: 400;
}

#wrap {
	
}

/*head*/
#header-top {
	padding: 30px 0;
	background: #1c1c1c;
}

/*wrap head*/
.wrap-head {
	max-width: 1100px;
	margin: auto;
}

.wrap-head::before {
	content: '';
	clear: both;
}

.wrap-head::after {
	content: '';
	clear: both;
	display: table;
}

/*logo head*/
.logo-head {
	float: left;
}

.logo-head img {
	width: 145px;
}

/*navigation*/
.main-nav {
	float: right;
	margin-top: 10px;
}

.main-nav ul li {
	display: inline-block;
}

.main-nav ul li a {
	text-transform: uppercase;
	color: #C4C4C4;
	font-weight: 700;
	text-decoration: none;
	padding: 10px 20px;
}

.main-nav ul li:hover a {
	color: #F74D4C;	
}

.main-nav ul li.home a {
	color: #F74D4C;
}

/*content*/
#content-top {
	float: left;
	width: 100%; 
	margin: auto;
	padding: 25px 0;
	background: #1F1F1F;
}

/*wrap content*/
.wrap-cont {
	max-width: 1100px;
	margin: auto;
	color: #D0D0D0;
}

.wrap-cont::before {
	content: '';
	clear: both;
}

.wrap-cont::after {
	content: '';
	clear: both;
	display: table;
}

.top-text {
	font-family: 'Lato', sans-serif;
	font-size: 60px;
	text-align: center;
	font-weight: 300;
	padding: 20px 0;
}

.webpaint {
	font-weight: 900;
}

.paragraph {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
}

input[type="submit"] {
	float: left;
	max-width: 1175px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffe5e4;
    background: #F74D4C;
    padding: 17px 35px;
    margin: 45px 440px;
    border: 0;
    border-radius: 5px;
}

input[type="submit"]:hover {
	color: #FEFEFE;
}

#section-cont {
	float: left;
	width: 100%; 
	margin: auto;
	padding: 65px 119PX;
	background: #F6F6F6;
}

.content1 {
	margin: auto;
	color: #D0D0D0;
}

.content1::before {
	content: '';
	clear: both;
}

.content1::after {
	content: '';
	clear: both;
	display: table;
}

.box {
	float: left;
	width: 240px;
	text-align: center;
	margin: 18px;
}

.icon {
	margin: 15px 0px;
}

.icon img {
	width: 55px;
	padding-top: 15px; 
}

.box img::before {
	content: '';
	clear: both;
}

.box img::after {
	content: '';
	clear: both;
	display: table;
}

.icon-height {
	width: 50px;
	padding-top: 10px;
}

.icon-height img {
	width: 55px;
    margin: 9px 85px 3px;
}

.header-icon {
	font-size: 18px;
    color: #505050;
    margin: 10px 0;
}

.text-icon {
	font-size: 15px;
    color: #7C7C7C;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
}

#section-featur {
	float: left;
	width: 100%; 
	margin: auto;
	padding: 25px 0;
	background: #FFF;	
}

.wrap-featur {
	margin: 50px auto;
	color: #D0D0D0;
}


.wrap-featur::before {
	content: '';
	clear: both;
}

.wrap-featur::after {
	content: '';
	clear: both;
	display: table;
}

.featur-head {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: #616161;
	padding: 10px;
}

.text3 {
	font-size: 20px;
	color: #7C7C7C;
	text-align: center;
	padding: 10px 0;
	font-weight: 300;
}

 

.button {
	float: left;
	width: 26.6%;
    text-align: center;
    margin: 50px 0 15px;
    padding: 0 560px;
}

input[type="submit"].submit {
	float: left;
	padding: 10px 18px;
	font-size: 12px;
	color: #ffe5e4;
    background: #595959;
    margin: 5px;
}

input[type="submit"].submitAll {
	float: left;
	padding: 10px 18px;
	font-size: 12px;
	color: #ffe5e4;
    background: #F74D4C;
    margin: 5px;
}

.colom-featur {
	max-width: 1120px;
	margin: 0 auto;
}

.galery {
	float: left;
	width: 270px;
	text-align: center;
	margin: 5px;
}

